﻿body {
    font-family: Arial, Arial, Helvitiva, sans-serif;
    font-size: 85%;
    width: 550px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: 3px double blue;
}

h1 {
    font-size: 140%;
    color: #0000FF;
    padding: 0;
    margin: 0 0 .5em 0;
}

label {
    float: left;
    width: 10em;
}

/* the styles for classes */
.entry {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 10em;
}
.validator {
    font-size: 95%;
    color: red;
    margin-left: 1em;
}
.button {
    margin-top: 1em;
    width: 10em;
}

/* the styles for the server controls */
#ddlMonthlyInvestment {
    width: 10.5em;
}
#lblFutureValue {
    font-weight: bold;
    margin-left: 1em;
}
#btnClear {
    margin-left: 1em;
}
